<!DOCTYPE html>
{% extends 'Blog_base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Delete Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    <style>

    </style>
</head>
<body>
{% block content %}
<div align="center" class="create">
    <h3>About this Blog</h3>
    <br>
    <div class="border border-info rounded" style="width:60%; border:solid;">
    <p align="left">This is one practice application using Django</p>
    <p align="left">My Name is Mohammad Rahil started learning Django just 2 months Ago and also having a Job where I use ServiceNow Platform</p>
    <p align="left">So whenever I get time i learn this. Hope you like this one Simple app.Maybe I will try more related to Data Analytical apps. </p>
    <p align="left">Thank you So Much.</p>
    </div>
</div>

{% endblock %}
</body>
</html>