<!DOCTYPE html>
{% extends 'Blog_base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Create Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    <style>

    </style>
</head>
<body>
{% block content %}
<div align="center" class="create">
    <h4>Updating My Article</h4>
    <br>
<form method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update" class="btn btn-primary">
    <a href="{{data.get_articleDelete_url}}" class="btn btn-primary">Delete</a>

</form>
</div>

{% endblock %}
</body>
</html>